/* reste rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */
.debug header {
    height: 100px;
}
.debug main {
    height: 1000px;
}
.debug .row {
    height: 500px;
}
.debug #side {
    height: 100%;
    width: 35%;
}
.debug #main {
    height: 100%;
    width: 65%;
    
}

/* common rules */
.row {
    display: flex;
}
.main_container .head {
    height: 50px;
    width: 100%;
    background-color: #EAEAEA;
}

/**********
header  
**********/
header {
    height: 30px;
    background-color: #009688;
}

/**********
main  
**********/
main {
    background-color: #DADBD4;
}
#root {
    width: 80%;
    margin: auto;
}

/* side */
#notifications {
    height: 60px;
    background-color: #8EDAFC;
}
#search {
    height: 40px;
    background-color: #EAEAEA;
}
#contacts {
    height: calc(100% - 150px);
    background-color: white;
}

/* chat */
#chat {
    height: calc(100% - 95px);
    width: 100%;
    background-color: darkgray;
}
#message_input {
    height: 45px;
    background-color: #F3EEEA;
}
